html,body{
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #5ef5ca, #59f3fb);
    margin: 0;
    padding: 0;
    text-align: center; 
}
h1{
    margin: 0;
    padding: 0;
    color: #085f63;
}
.form{
    width: 60%;
    margin: auto;
    background: #8ad8dc;
    padding: 15px;
    border-radius: 40px 5px 40px;
    box-shadow: 0 5px 15px rgba(0 , 0, 0, .15);
}
input{
    width: 83%;
    height: 15px;
    font-size: 18px;
    padding: 10px;
    background: transparent;
    border: 2px solid #3a8d91;
    border-radius: 10px 0 0 10px;
    margin: 10px 0;
    color:  #18494b;
}
button{
    background: #7adfda;
    border: none;
    font-size: 18px;
    padding: 7.3px 25px;
    border-radius: 0 10px 10px 0;
    color: #18494b;
    border: #069096 solid 2px;
}
ul{
    list-style-type: none;
    text-align: left;
    width: 95%;
    margin: 0 auto;
    padding: 0;
}
ul li{
    padding: 5px;
    border-left: 3px solid #069096;
    margin: 0 0 15px 0;
    color: #18494b;
    font-size: 20px;
}
ul li:hover{
    background: #76c4c8;
}
.hr{
    content: "";
    height: 2px;
    width: 95%;
    margin: 5px auto;
    background: #069096;
}